[Desktop Entry]
Encoding=UTF-8
Name=Link to Web dev marks - Google Sheets
Type=Link
URL=https://docs.google.com/spreadsheets/d/1nYy1Iu_DawjGwC28gSupqIzLE0aneYiUXSpIw57xwoM/edit#gid=0
Icon=text-html
