{% extends 'base.html' %}

{% load static %}

{% block content1 %}
    {% include 'nav.html' %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 h-100">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                    <hr>
                    {% for u1 in users %}
                        {% if u1 == user %}

                        {% else %}
                            <form method='POST'>
                                <div class="row  my-2">

                                    <div class="col"><img style="max-width: 50px;height: 50px!important;"src="{{ u1.profile.image.url }}" alt="profile pic"
                                                          class="profile-pic"></div>
                                    <div class="col col-8 col-sx-6"><p name="userID" value="{{ u1.pk }}"class="text-secondary">{{ u1.username }}{# {{ u1.first_name }} #} </p></div>

                                    <div class="col"><a type="submit" class="btn btn-outline-info">Follow</a></div>


                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}


                </div>


            </div>


        </div>

    </main>



{% endblock %}