

<div class="option option1">
    <input type="hidden" value='{{unit.post.id}}'class="postid">
    <input type="hidden" value='1'class="emojiid">
    ❤</div>
<div class="option option2">
    <input type="hidden" value='{{unit.post.id}}'class="postid">
    <input type="hidden" value='2'class="emojiid">
    😍</div>
<div class="option option3">
    <input type="hidden" value='{{unit.post.id}}'class="postid">
    <input type="hidden" value='3'class="emojiid">
    👍</div>
<div class="option option4">
    <input type="hidden" value='{{unit.post.id}}'class="postid">
    <input type="hidden" value='4'class="emojiid">
    🤢</div>
